*{
    box-sizing: border-box;
    margin:0 auto;
}

body{
    background-color:rgb(255, 255, 255);
}

.nav-item{
    display: inline-block;
    margin-left: 230px;
    margin-top: 20px; 
    margin-bottom: 10px;
}

.nav-container{
    border-bottom: dashed rgba(220, 220, 220, 0.6);
    background-color:rgb(255, 255, 255) ;
    position: fixed;
    left:0px;
    top: 0px;
    width: 100%;
}

header{
    /* background: linear-gradient(to right, rgb(27, 77, 56),rgb(35, 77, 47)); */
    padding: 20px;
    text-align: center;
    /* color: rgb(58, 136, 105); */
    }
    
h1{
    color:rgb(145, 147, 146);
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}

h2{
    padding:20px;
    color:rgb(145, 147, 146);
    text-align: center;
    font-family: 'Syne Mono', monospace;
    border-bottom: 4mm ridge rgba(220, 50, 78, 0.6);
    width: 70%;
}

main{
   
    /* margin: 80px; */
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.item{
    margin: 20px;
}

p{
    color: black;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 200px;
    margin-right:200px ;
    /* width: 80%; */
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 40%;
}

a:link{
    color:rgb(145, 147, 146);
}

a:visited{
    color: antiquewhite;
}

iframe{
    margin-left: 200px;


}

footer{
    /* margin:0 0 20px 0;   */
    /* background: linear-gradient(to left,rgb(27, 77, 56),rgb(35, 77, 47)); */
    padding: 20px;
    text-align: center;
    color: antiquewhite;
    }


.gallery-item{
    display: inline-block;
    width: auto;
    height: auto;
    border: 1px  dashed  black ;
    padding: 5px; 
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    main {
      width: 100%;
    }
}