/* *{
    box-sizing: border-box;
} */


.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container1 {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    gap: 10px;
    background-color: rgba(231, 251, 232, 0.8);
    padding: 10px;
    /* margin: 50px; */
  }

.grid-container1 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  button {
    background-color:rgb(85, 118, 100);
    border: none ;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:dashed;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }

button:hover{
    background-color: rgb(102, 180, 146);
  }

a:link{
    color:rgb(145, 147, 146);
}

a:visited{
    color: antiquewhite;
